@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html {
    background-color: #000;
    z-index: -2;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 22px;
    background-image: url(../Assets/Frame\ 88.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration-line: none;
    border-radius: 18px;
    height: 45px;
}

.main_container {
    width: 100%;
    max-width: 1440px;
    margin: 50px 180px 0px 180px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.content {
    flex: 1;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    font-size: 25px;
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 30px;
    z-index: 1;
    transition: backdrop-filter 0.5s ease, background-color 0.5s ease; 
    background-color: transparent;
    border-radius: 50px;
    margin-bottom: 40px;
}

header.blur {
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(70, 122, 127, 0.7));
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    border-radius: 50px;
}

header.blur::before {
    opacity: 1;
}

nav ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0px;
    justify-content: center;
}

nav ul li {
    margin: 0px 150px 0px 0px;
    align-content: center;
    align-items: center;
}

nav ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    text-shadow:
        -0.5px -0.5px 0 #000,
        0.5px -0.5px 0 #000,
        -0.5px 0.5px 0 #000,
        0.5px 0.5px 0 #000;
    padding-bottom: 4px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #42c1c7;
    transition: width 0.4s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul a.text-button-color::after, nav ul a.logo-ref::after {
    display: none;
}

.logo-header {
    width: 114px;
    margin-left: 45px;
    height: 44px;
}

.header-button {
    background: linear-gradient(90deg, #42c1c7, #7be8ee);
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 18px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 22px;
    transition: background 0.5s ease, color 0.5s ease, box-shadow 0.3s ease;
    align-content: center;
    align-items: center;
    display: flex;
    height: min-content;
}

.header-button:hover {
    background: linear-gradient(90deg, #7be8ee, #42c1c7);
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 173, 255, 0.4);
    transform: scale(1.02);
}

.header-button {
    margin-right: 0px;
}

.text-button-color {
    color: #0f1f23;
}

.button-img {
    margin-right: 10px;
}

h1 {
    color: #42c1c7;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 45px;
    text-align: left;
    margin-bottom: 40px;
}

.info-section p {
    margin-bottom: 120px;
}

footer {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-left: 50px;
}

.foot1, .foot2, .foot3 {
    text-align: left;
    width: 350px;
    vertical-align: top;
    white-space: pre-line;
}

.foot2 {
    width: 200px;
}

.foot1 p, .foot2 p, .foot3 p {
    line-height: 30px;
}

footer p, footer a {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-top: 0px;
}

footer a:hover {
    text-decoration: underline;
}